<files *.jpg> 
  ExpiresActive on 
  ExpiresDefault "access plus 1 year"
</files>

<files *.png> 
  ExpiresActive on 
  ExpiresDefault "access plus 1 year"
</files>


<files .htaccess>
deny from all
</files>
